layout {

    focus-ring {
        active-color   "#fb5450"
        inactive-color "#291414"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#fb5450"
        inactive-color "#291414"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#fb5450"
        inactive-color "#960603"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#fb545080"
    }
}

recent-windows {
    highlight {
        active-color "#fb5450"
        urgent-color "#fd4663"
    }
}
